.descripción p:nth-of-type(1) {
    color:red; }

    p:empty {
        width:80%;
        margin:0 auto;
        height:50px;
        background-color:yellow;
      }
body{
    background-image: url(https://cloudinary.fifa.com/m/c8fb2a0f9ea9ee52/original/qvbxqr5uir54g7nxgsea-jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
}
