body{
    background-image: url(https://images6.alphacoders.com/550/550393.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
a[href^="estadios"]{
    color: #f00;
    font: 75px fantasy;
    text-decoration: underline;
}
a[href^="Mundial"]{
    color: #f00;
    font: 75px fantasy;
    text-decoration: underline;
}
a[href*="selecciones"]{
    color: #f00;
    font: 75px fantasy;
    text-decoration: underline;
}
div{
    text-align: center;
    padding-left: 550px;
    padding-top: 50px;
    margin: auto;
}
table{
    border-collapse:collapse;
}
tr:nth-child(even){
    background-color: lightgreen;
}
tr:nth-child(odd){
    background-color: lightblue;
}