body{
    background-image: url(https://www.mundodeportivo.com/files/article_main_microformat/files/fp/uploads/2022/08/02/62e906d033b61.r_d.736-798-7500.jpeg);
    background-size: cover;
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;



}


h1~p{
    color:whitesmoke ;
  }

  h1 {
    text-align: center;
    color: rgb(11, 126, 226);
  }


  p{
    text-align: center;
    font-size: large;
  }

